@model List<Projeto>

<div class="container mt-3">
  
  <div class="row justify-content-end">
	<a asp-action="Cadastrar" asp-controller="Projeto" class="btn btn-primary">
		Novo Projeto
	</a>
  </div>

  <div class="row mt-4">
	@foreach (Projeto projeto in Model)
    {
		<a asp-action="Detalhar" asp-controller="Projeto" asp-route-id="@projeto.Id" class="w-100">
            <div class="projeto-container">
				@projeto.Nome
			</div>
        </a>
	}
  </div>

</div>