<div class="container mt-3">
  
  <div class="row justify-content-end">
	<a asp-action="Cadastrar" asp-controller="Projeto" class="btn btn-primary">
		Novo Projeto
	</a>
  </div>

  <div class="row mt-4">
	adw
  </div>

</div>